{% extends 'base.html' %}
{% block title %}RSVP{% endblock %}
{% block rsvp_active %}active{% endblock %}


{% block body %}

    <h2 class="display-2"><a name="photo"></a>PHOTOS</h2>
        <div class="col-md-4">
            <img src="../static/rsvpapp/ny.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-md-4">
            <img src="../static/rsvpapp/chicago.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-md-4">
            <img src="../static/rsvpapp/la.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-md-4">
            <img src="../static/rsvpapp/slide3.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-md-4">
            <img src="../static/rsvpapp/ofi.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-md-4">
            <img src="../static/rsvpapp/slide2.jpg" class="img-fluid" alt="Responsive image">
        </div>

{% endblock %}